<div class="nav logo absolute top left font regular upper">
    <a href="/">
        <h1 class="font large letter-spacing wide">trilo.</h1>
        <p class="font mid-small letter-spacing middle side-color">dsgn</p>
    </a>
</div>
<div class="nav menu-btn absolute top right">
    <button class="lines-button" type="button" role="button" aria-label="Toggle Navigation">
        <span class="lines"></span>
    </button>
</div>
<div class="nav key-words absolute bottom left font italic base side-color">
    <span>web.</span>
    <br>
    <span>interaction.</span>
    <br>
    <span>design.</span>
</div>
<div class="nav contacts absolute bottom right font regular small upper letter-spacing">
    <a href="mailto:trilo.roman@gmail.com?Subject=Hi">email</a>
    <br>
    <a href="https://www.linkedin.com/in/trilo" target="_blank">linkedin</a>
    <br>
    <a href="https://www.behance.net/trilo" target="_blank">behance</a>
</div>

<div id="content" class="absolute top left"></div>
