<div class="nav logo absolute top left">
    <a href="/">
        <h1 class="upper letter-spacing wide">trilo.</h1>
        <p class="upper letter-spacing middle side-color">dsgn</p>
    </a>
</div>
<div class="nav menu-btn absolute top right">
    <button class="lines-button" type="button" role="button" aria-label="Toggle Navigation">
        <span class="lines"></span>
    </button>
</div>
<div class="nav key-words absolute bottom left">
    <span class="side-color">web.</span>
    <br>
    <span class="side-color">interaction.</span>
    <br>
    <span class="side-color">design.</span>
</div>
<div class="nav contacts absolute bottom right">
    <a href="mailto:trilo.roman@gmail.com?Subject=Hi" class="upper letter-spacing small">email</a>
    <br>
    <a href="https://www.linkedin.com/in/trilo" class="upper letter-spacing small">linkedin</a>
    <br>
    <a href="https://www.behance.net/trilo" class="upper letter-spacing small">behance</a>
</div>

<div id="content" class="absolute top left"></div>
