<h1 class="out">About</h1>
<div class="contacts-title">
    <p class="font regular menu upper letter-spacing small">contacts</p>
</div>
<div class="contacts-wrapper">
    <a href="mailto:trilo.roman@gmail.com?Subject=Hi" class="email-wrapper">
        <div class="email">
            <span class="font f-book-c large side-color">trilo.roman@gmail.com</span>
            <div class="background"></div>
        </div>
        <div class="arrow">
            <div class="arrow-body"></div>
            <div class="arrow-angles"></div>
        </div>
    </a>
    <div class="contacts-desktop font regular small letter-spacing upper">
        <div>
            <a href="http://twitter.com/triloroman" target="_blank">twitter</a>
        </div>
        <div>
            <a href="http://fb.com/triloroman" target="_blank">facebook</a>
        </div>
        <div>
            <a href="http://instagram.com/romantrilo/" target="_blank">instagram</a>
        </div>
    </div>
    <div class="contacts-mobile font regular base upper">
        <div>
            <div>
                <a href="http://twitter.com/triloroman" target="_blank">twitter</a>
            </div>
            <div>
                <a href="http://fb.com/triloroman" target="_blank">facebook</a>
            </div>
        </div>
        <div>
            <div>
                <a href="http://www.linkedin.com/in/trilo" target="_blank">linkedin</a>
            </div>
            <div>
                <a href="http://www.behance.net/trilo" target="_blank">behance</a>
            </div>
        </div>
    </div>
</div>
