<div class="nav key-words absolute bottom left font italic base">
    <span class="side-color">web.</span>
    <br>
    <span class="side-color">interaction.</span>
    <br>
    <span class="side-color">design.</span>
</div>
<div class="nav contacts absolute bottom right font regular small upper letter-spacing">
    <p>
        <a href="mailto:trilo.roman@gmail.com?Subject=Hi">email</a>
    </p>
    <p>
        <a href="https://www.linkedin.com/in/trilo" target="_blank">linkedin</a>
    </p>
    <p>
        <a href="https://www.behance.net/trilo" target="_blank">behance</a>
    </p>
</div>
