<div class="menu-wrapper font regular menu upper letter-spacing small">
    <div>
        <a href="#work" class="work-link">
            <div class="text dark">
                <span>work</span>
            </div>
            <div class="text white">
                <span>work</span>
            </div>
            <div class="background"></div>
        </a>
    </div>
    <div>
        <a href="#about" class="about-link">
            <div class="text dark">
                <span>about</span>
            </div>
            <div class="text white">
                <span>about</span>
            </div>
            <div class="background"></div>
        </a>
    </div>
    <div>
        <a href="#contacts" class="contacts-link">
            <div class="text dark">
                <span>contacts</span>
            </div>
            <div class="text white">
                <span>contacts</span>
            </div>
            <div class="background"></div>
        </a>
    </div>
</div>
