#black_rec {
    width: 100vw;
    height: 100vh;
    @include translate(-100vw, 0);
    background-color: $base-color;
    &.menu-opened {
        @include translate(0, 0);
        @include transition(all, $base-transition * 2);
    }
    &.menu-closed {
        @include translate(-100vw, 0);
        @include transition(all, $base-transition * 2);
    }
    &.about-start {
        @include translate(-100vw, 100vh);
    }
    &.center {
        @include translate(0, 0);
        @include transition(all, $base-transition * 2);
        @include transition-timing-function(ease-in);
    }
    &.about {
        @include translate(0, -80vh);
        @include transition(all, $base-transition * 2);
        @include transition-timing-function(ease-out);
    }
    &.hide {
        opacity: 0;
    }
}

@media screen and (max-width: $middle-screen-medium) {
    #black_rec.contacts-active {
        @include translate(0, calc(32vh + 175px));
    }
}

@media screen and (min-width: $middle-screen-min) {
    #black_rec {
        &.about {
            @include translate(175px, -80vh);
        }

    }
}

@media screen and (min-width: $middle-screen-medium) {
    #black_rec.contacts-active {
        @include translate(620px, calc(38vh + 150px));
        height: 74px;
    }
}

@media screen and (min-width: $large-screen-min) {
    #black_rec {
        &.about {
            @include translate(475px, -80vh);
        }

    }
}

@media screen and (min-width: $extra-large-screen-min) {
    #black_rec {
        &.about {
            @include translate(691px, -80vh);
        }
        &.contacts-active {
            @include translate(890px, calc(38vh + 262px));
            height: 106px;
        }

    }
}
