#black_rec {
    width: 100vw;
    height: 100vh;
    background-color: $base-color;
    @include translate(-100vw, 0);
    @include transition(all, $base-transition * 2);
    &.menu-opened {
        @include translate(0, 0);
    }
    &.about {
        @include translate(-100vw, -80vh);
    }
}

