.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a {
    text-decoration: none;
    &, &:visited {
        color: $base-color;
    }
}

p, span, div, h1, h2, h3, h4, h5, h6 {
    color: $base-color;
}

.absolute {
    position: absolute;
    &.top {
        top: 0;
    }
    &.right {
        right: 0
    }
    &.bottom {
        bottom: 0;
    }
    &.left {
        left: 0;
    }
}

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

.letter-spacing {
    &.small {
        letter-spacing: 0.2em;
    }
    &.middle {
        letter-spacing: 0.3em;
    }
    &.wide {
        letter-spacing: 0.4em;
    }
}

.side-color {
    color: $side-color;
}

#content {
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

.font {
    &.italic {
        font-family: CrimsonTextItalic, sans-serif;
    }
    &.regular {
        font-family: FuturaDemiC, sans-serif;
    }
    &.f-book-c {
        font-family: FuturaBookC;
    }
    &.small {
        font-size: $small-font-size;
    }
    &.mid-small {
        font-size: $mid-small-font-size;
    }
    &.base {
        font-size: $base-font-size;
    }
    &.mid-base {
        font-size: $mid-base-font-size;
    }
    &.large {
        font-size: $large-font-size;
    }
    &.extra-large {
        font-size: $extra-large-font-size;
    }
    &.menu {
        font-size: $menu-link-font-size;
    }
}

.draggable {
    /* fallback if grab cursor is unsupported */
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    @include cursor-drag;
    &:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
        @include cursor-dragging;
    }
}


//::-webkit-scrollbar {
//    display: none;
//}
