#contacts {
    position: relative;
    display: none;
    padding: $extra-large-font-size;
    box-sizing: border-box;
}

.contacts-title p {
    margin: 0;
}

.contacts-mobile {
    position: absolute;
    bottom: $extra-large-font-size - 9;
    left: $extra-large-font-size;
    & > div {
        display: inline-block;
        width: calc((100vw - 48px) / 2);
        box-sizing: border-box;
        & div {
            margin-top: 5px;
            & a {
                color: $white;
                letter-spacing: 0.2em;
            }
        }
        &:last-child {
            text-align: right;
        }
    }
}

.contacts-desktop {
    & div {
        display: inline-block;
        margin-right: 10px;
    }
}

.email {
    position: relative;
    overflow: hidden;
    & span {
        opacity: 0;
        padding: 0 20px;
        &.show {
            opacity: 1;
        }
    }
    & .background {
        width: 200px;
        height: 18px;
        position: absolute;
        top: 0;
        left: -100%;
        background-color: $white;
        @include transition(left, $base-transition * 3);
        &.show {
            left: 100%;
        }
    }
}

@-moz-keyframes move {
    0% {
        @include translate(0, 0);
    }
    50% {
        @include translate(20px, 0);
    }
    100% {
        @include translate(0, 0);
    }
}

@-webkit-keyframes move {
    0% {
        @include translate(0, 0);
    }
    50% {
        @include translate(20px, 0);
    }
    100% {
        @include translate(0, 0);
    }
}

@keyframes move {
    0% {
        @include translate(0, 0);
    }
    50% {
        @include translate(20px, 0);
    }
    100% {
        @include translate(0, 0);
    }
}

.email-wrapper {
    display: block;
    & > div, & .arrow > div {
        display: inline-block;
        vertical-align: middle;
    }
}

.arrow-body {
    width: 75px;
    border-top: 1px solid $white;
    position: relative;
    right: -11.5px;
}

.arrow-angles {
    width: 6px;
    height: 6px;
    border-top: 1px solid $white;
    border-right: 1px solid $white;
    @include rotate(45deg);
}

@media screen and (max-width: $middle-screen-medium) {
    .contacts-title {
        margin-top: calc(32vh + 76px);
        & p {
            letter-spacing: 0.15em !important;
        }
    }

    .email-wrapper {
        margin-top: 40px;
    }

    .email {
        margin-left: -20px;
    }

    .arrow {
        margin-left: -10px;
    }

    .contacts-desktop {
        display: none;
    }

    .arrow.mobile-moving {
        @include animation(move 8s infinite linear);
    }
}

@media screen and (min-width: $middle-screen-medium) {
    #contacts {
        padding-top: calc(38vh + 158px);
        padding-left: 176px;
        & > div {
            display: inline-block;
            vertical-align: top;
        }
    }

    .contacts-mobile {
        display: none;
    }

    .email-wrapper {
        width: calc(100vw - 690px);
        padding: 27px 20px;
        position: relative;
        top: -7px;
        & span {
            @include transition(color $base-transition * 2, opacity 0);
        }
        @include cursor-pointer;
        &:hover {
            & span {
                color: $white;
            }
            & .arrow {
                @include translate(60px, 0);
            }
        }
    }

    .contacts-wrapper {
        margin-left: 70px;
    }

    .contacts-desktop {
        margin-top: 25px;
        margin-left: 40px;
        & a {
            @include cursor-pointer;
            @include transition(all, $base-transition * 2);
            &:hover {
                color: $white;
                background-color: $base-color;
            }
        }
    }

    .arrow {
        @include transition(all, $base-transition * 2.5);
        &.right {
            @include translate(30px, 0);
        }
    }
}

@media screen and (min-width: $extra-large-screen-min) {
    #contacts {
        padding-top: calc(38vh + 266px);
    }

    .email-wrapper {
        width: calc(100vw - 975px);
        padding: 43px 30px;
        top: -4px;
    }

    .contacts-wrapper {
        margin-left: 60px;
    }

    .contacts-desktop {
        margin-top: 35px;
        margin-left: 50px;
    }
}
