#item {
    margin-right: -14px;
    padding-right: 14px;
    overflow-y: auto;
}

.item-view {
    margin: 0 $extra-large-font-size;
    padding-bottom: $extra-large-font-size;
    @include translate(0, calc(68vh - 85px));
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -ms-transition-property: -ms-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -webkit-transition-duration: $base-transition;
    -moz-transition-duration: $base-transition;
    -ms-transition-duration: $base-transition;
    -o-transition-duration: $base-transition;
    transition-duration: $base-transition;

    &.up {
        @include translate(0, 40px);
    }
}

@media screen and (min-width: $middle-screen-min) {
    .item-view {
        margin: 0 150px;
    }
}

@media screen and (min-width: $large-screen-min) {
    .item-view {
        max-width: 1000px;
        margin: 0 auto;
    }
}
