#item {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    z-index: 0;
    & .item-view {
        margin: 0 125px;
        @include translate(0, calc(68vh - 85px));
        @include transition(all, $base-transition);
        &.up {
            @include translate(0, 0);
        }
        &.about {
            margin: 0 125px 0 410px;
            &.up {
                @include translate(0, -95px);
            }
        }
    }
}

.pre-load.about {
    width: calc(100vw - 150px) !important;
    padding-left: 150px;
    text-align: left !important;
}

@media screen and (max-width: $middle-screen-max) {
    #item .item-view.about {
        margin: 0 150px;
        &.up {
            @include translate(0, 40px);
        }
    }
}

@media screen and (max-width: $small-screen-max) {
    .pre-load.about {
        width: calc(100vw - 25px) !important;
        padding-left: 25px;
    }
    #item .item-view.about {
        margin: 0 25px;
    }
}
