#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    overflow: hidden;
    @include transition(width $base-transition * 2);
}

body.menu-opened #menu {
    width: 100vw;
}

@media screen and (max-width: $small-screen-max) {
    .menu-wrapper {
        margin: 30vh 24px 0;
        & a, & .text span {
            color: $white;
        }
        & .dark {
            display: none;
        }
        & .white span {
            letter-spacing: 0.15em;
        }
    }

    .menu-wrapper a, .font.menu, .font.menu span {
        font-size: 48px;
    }

}

@media screen and (min-width: $middle-screen-min) {
    .menu-wrapper {
        margin: 38vh 150px 0;
        & a {
            position: relative;
            display: inline-block;
            height: 60px;
            overflow: hidden;
            @include cursor-pointer;
            & .text {
                position: absolute;
                top: 0;
                overflow: hidden;
                white-space: nowrap;
                z-index: 5;
                & span {
                    margin-left: 26px;
                    margin-right: -0.2em;
                }
                &.dark {
                    width: 0;
                    z-index: 10;
                    &.show {
                        width: 100%;
                        @include transition(width $base-transition);
                    }
                    & span {
                        color: $base-color;
                    }
                }
                &.white {
                    width: 0;
                    &.show {
                        width: 100%;
                        @include transition(width $base-transition);
                    }
                    &.above {
                        z-index: 15;
                    }
                    & span {
                        color: $white;
                    }
                }
            }
            &.work-link {
                width: 260px;
            }
            &.about-link {
                width: 284px;
            }
            &.contacts-link {
                width: 410px;
            }
            & .background {
                position: absolute;
                top: 14px;
                left: -100%;
                width: inherit;
                height: 38px;
                background: $white;
                &.show {
                    left: 0;
                    @include transition(left $base-transition);
                }
                &.hide {
                    left: 100%;
                    @include transition(left $base-transition);
                }
            }
        }
    }
}

@media screen and (min-width: $extra-large-screen-min) {
    .menu-wrapper a {
        height: 100px;
        &.work-link {
            width: 414px;
        }
        &.about-link {
            width: 453px;
        }
        &.contacts-link {
            width: 682px;
        }
        & .background {
            top: 25px;
            height: 67px;
        }
    }
    .menu-wrapper a, .font.menu, .font.menu span {
        font-size: 100px;
    }
}
