.logo, .menu-btn, .key-words, .contacts {
    @include transition(all, 1s);
    @include transition-delay(0.5s);
    padding: 1em 2em;
}

body.pace-done {
    & .logo, & .menu-btn, & .key-words, & .contacts {
        @include translate(0, 0);
    }
}

.logo {
    @include translate(-180px, -75px);
    font-family: FuturaDemiC, serif;
    & h1 {
        margin: 0;
        font-size: $big-font-size;
    }
    & p {
        margin: 0.3em 0;
        font-size: $base-font-size;
        color: $grayish;
    }
}

.menu-btn {
    @include translate(60px, -35px);
    padding-right: 2.3em;
    color: $main-color;
    & i {
        @include scale(2, 1.5);
    }
}

.key-words {
    @include translate(-90px, 80px);
    font-family: CrimsonTextItalic, serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

.contacts {
    @include translate(115px, 75px);
    text-align: right;
    font-family: FuturaDemiC, serif;
    font-size: $small-font-size;
    line-height: $base-line-height;
}
