.logo, .menu-btn, .key-words, .contacts {
    @include transition(all, 1s);
    @include transition-delay(0.5s);
    padding: $base-font-size*1.2 $base-font-size*2;
}

body.pace-done {
    & .logo, & .menu-btn, & .key-words, & .contacts {
        @include translate(0, 0);
    }
}

.logo {
    @include translate(-180px, -75px);
    font-family: FuturaDemiC, serif;
    & h1 {
        margin: 0;
        font-size: $big-font-size;
    }
    & p {
        margin: 0.3em 0;
        font-size: $base-font-size;
        color: $grayish;
    }
}

.menu-btn {
    @include translate(60px, -35px);
    padding-right: $base-font-size*1.5;
    color: $base-color;
    & .lines-button {
        display: inline-block;
        padding-bottom: 0.3em;
        transition: all $base-transition linear;
        cursor: pointer;
        user-select: none;
        border-radius: $button-size/7;
        background: none;
        border: none;
        &:focus {
            outline: none;
        }
        &:hover {
            opacity: 1;
        }
        &:active {
            transition: 0;
        }
        & .lines {
            @include line;
            position: relative;
            &:before, &:after {
                @include line;
                @include transform-origin(center);
                position: absolute;
                left:0;
                content: '';
            }
            &:before {
                top: $button-size/4;
            }
            &:after {
                top: -$button-size/4;
            }
            &.close {
                &:before, &:after{
                    transform: none;
                    width: $button-size;
                    top:0;
                }
                &.minus {
                    background: transparent;
                    @include transition(background 0s);
                }
                &.x {
                    &:before, &:after{
                        @include transform-origin(50%);
                        top:0;
                        width: $button-size;
                    }
                    &:before{
                        transform: rotate3d(0,0,1,45deg);
                    }
                    &:after{
                        transform: rotate3d(0,0,1,-45deg);
                    }
                }
            }
        }
    }
}

.key-words {
    @include translate(-90px, 80px);
    font-family: CrimsonTextItalic, serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

.contacts {
    @include translate(115px, 75px);
    text-align: right;
    font-family: FuturaDemiC, serif;
    font-size: $small-font-size;
    line-height: $base-line-height;
}
