.nav {
    z-index: 10;
}

.logo, .menu-btn, .key-words, .contacts {
    @include transition(all, $base-transition * 2);
    @include transition-delay(0.5s);
    padding: $large-font-size $extra-large-font-size;
}

body.pace-done {
    & .logo, & .menu-btn, & .key-words, & .contacts {
        @include translate(0, 0);
    }
}

.logo {
    @include translate(-180px, -75px);
    & h1 {
        margin: 0;
        @include transition(color, $base-transition * 2);
    }
    & p {
        margin: 0.15em 0;
        color: $grayish;
    }
}

.menu-btn {
    @include translate(60px, -35px);
    padding-right: $large-font-size;
    color: $base-color;
    & .lines-button {
        display: inline-block;
        padding-bottom: 0.3em;
        transition: all $base-transition linear;
        cursor: pointer;
        user-select: none;
        border-radius: $button-size/7;
        background: none;
        border: none;
        &:focus {
            outline: none;
        }
        &:hover {
            opacity: 1;
        }
        &:active {
            transition: 0s;
        }
        & .lines {
            @include line;
            position: relative;
            &:before, &:after {
                @include line;
                @include transform-origin(center);
                position: absolute;
                left:0;
                content: '';
            }
            &:before {
                top: $button-size/4;
            }
            &:after {
                top: -$button-size/4;
            }
            &.close {
                &:before, &:after{
                    transform: none;
                    width: $button-size;
                    top:0;
                }
                &.minus {
                    background: transparent;
                    @include transition(background 0s);
                }
                &.x {
                    &:before, &:after{
                        top:0;
                        width: $button-size;
                        background-color: $white;
                        @include transform-origin(50%);
                    }
                    &:before{
                        transform: rotate3d(0,0,1,45deg);
                    }
                    &:after{
                        transform: rotate3d(0,0,1,-45deg);
                    }
                }
            }
        }
    }
}

.key-words {
    @include translate(-90px, 80px);
    line-height: $base-line-height;
}

.contacts {
    @include translate(115px, 75px);
    text-align: right;
    padding-bottom: $large-font-size - 2;
    & p {
        margin: 0;
        line-height: $base-line-height;
        a {
            @include transition(color, $base-transition);
        }
    }
}


body.menu-opened {
    & .logo h1, & .contacts a {
        color: $white;
    }
}


@media screen and (max-width: $small-screen-max) {
    .key-words span, .contacts p{
        visibility: hidden;
        opacity: 0;
        @include transition(all, $base-transition * 1.5);
        @include transition-delay(0s);
    }
    body.menu-opened {
        & .key-words span, & .contacts p {
            visibility: visible;
            opacity: 1;
        }
    }

    .contacts {
        right: auto !important;
        left: 0;
        // menu wrapper margin + menu wrapper height
        top: calc(25vh + 225px) !important;
        font-size: $base-font-size !important;
        letter-spacing: 0.4em !important;
        line-height: 24px !important;
        text-align: left !important;
    }
}

@media screen and (min-width: $middle-screen-min) {
    body.menu-opened .contacts a:hover {
        color: $menu-background;
        background-color: $white;
    }
}
