.timeline, .covers {
    text-align: center;
}

.timeline {
    position: relative;
    margin-top: 30vh;
    & .subtitle {
        text-transform: capitalize;
    }
    & .line-wrapper {
        position: relative;
        font-size: 0;
        & .left-line, & .right-line {
            display: inline-block;
            width: 50%;
            border-top: 1px solid $grayish;
        }
        & .middle-line {
            position: absolute;
            top: -4px;
            display: inline-block;
            height: $small-font-size;
            border-left: 2px solid $base-color;
        }
    }
    & .item-wrapper {
        margin-top: $large-font-size + 4;
    }
    & p {
        margin: 0;
        &.date {
            margin-bottom: $base-font-size + 2;
        }
        &.subtitle, &.title, &.project {
            margin-bottom: $small-font-size - 4;
        }
        &.title.project {
            margin-bottom: 2px;
        }
    }
}

.item:first-child .left-line, .item:last-child .right-line {
    visibility: hidden;
}

.covers-wrapper {
    width: calc(100vw - 250px);
    margin: 0 auto;
    .covers {
        //    viewport height left after timeline margin - timeline height - timeline margin-bottom
        height: calc(70vh - 110px - 30px);
        & .slick-list {
            height: 100%;
            & .slick-track {
                height: 100%;
            }
        }
        & .cover {
            position: relative;
            height: 100%;
            & .content {
                height: 100%;
                background-color: #d4d4d4;
            }
            & a {
                top: 40%;
                display: inline-block;
                width: 170px;
                margin: 0 auto;
                padding: 12px 10px 12px 15px;
                text-align: center;
                font-weight: normal;
                line-height: $base-line-height;
                background-color: $white;
            }
        }
    }
}
