$base-color: rgb(51, 51, 51);
$side-color: rgb(119, 119, 119);
$grayish: rgb(215, 215, 215);

$small-font-size: 10px;
$base-font-size: 14px;
$big-font-size: 18px;

$small-line-height: 16px;
$base-line-height: 18px;

$base-transition: 0.5s;

$button-size : 1.5em;
