$base-color: rgb(51, 51, 51);
$side-color: rgb(119, 119, 119);
$grayish: rgb(215, 215, 215);
$white: rgb(255, 255, 255);

$small-font-size: 10px;
$mid-small-font-size: 12px;
$base-font-size: 14px;
$mid-base-font-size: 16px;
$large-font-size: 18px;
$extra-large-font-size: 24px;
$menu-mobile-font-sze: 48px;
$menu-link-font-size: 57px;

$small-line-height: 16px;
$base-line-height: 18px;
$large-line-height: 26px;

$base-transition: 0.5s;

$button-size : 1.5em;

$small-screen-mid: 521px;
$small-screen-max: 767px;
$middle-screen-min: $small-screen-max + 1;
$middle-screen-medium: 1000px;
$middle-screen-max: 1300px;
$large-screen-min: $middle-screen-max + 1;
$large-screen-max: 1599px;
$extra-large-screen-min: $large-screen-max + 1;
