.nav {
    z-index: 100;
}

#menu {
    z-index: 80;
}

#contacts {
    z-index: 70;
}

#black_rec {
    z-index: 60;
}

#about {
    z-index: 40;
}

#timeline {
    z-index: 20;
}

#item {
    z-index: 0;
}
